@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .message-area::-webkit-scrollbar {
        width: 6px;
    }

    .message-area::-webkit-scrollbar-track {
        @apply bg-black/10;
    }

    .message-area::-webkit-scrollbar-thumb {
        background: rgb(229 231 235);
        @apply bg-black/30 rounded-md;
    }
}

@layer components {
    .chat-conatiner {
        height: calc(100vh - 64px);
        scroll-behavior: smooth;
    }
}